
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
    background-color: #111;
    color: white;
    font-family: "VT323", monospace;;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.buttonContainer {
    display: inline-grid;
    justify-content: space-between;

}

.text-area {
    width: 800px;
    height: 300px;
    background: black;
    overflow: hidden;
    padding: 20px;
}

.refactor-title {
    text-align: center;
    font-size: 200%;
    color: #00FF00; /* Use a green color reminiscent of old retro art computers */
}

.terminal {
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
    color: limegreen;
    text-shadow: 0 0 5px #c8c8c8;
    text-align: center;
}

.button * {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 24px;
    z-index: 10;
}

/* Styles for the button */
.button button {
    background: #BCBCBC;
    align-items: center;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    margin: 1rem;
    min-width: 200px;
    padding: .5rem;
    text-transform: uppercase;
    width: auto;
}

.button button:focus,
.button button:hover {
    background: #00FF00;
}

/*typewriter for story*/
.typewriterIndex {
    color: #fff;
    font-family: "VT323", monospace;
    overflow: hidden;  /* Ensures the content is not revealed until the animation */
    margin: 0 auto;  /* Gives that scrolling effect as the typing happens */
    border-right: .15em solid green;
    letter-spacing: .15em;  /* Adjust as needed */
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    width: 0;  /* Ensures the text starts from the beginning */
    animation-fill-mode: forwards;  /* Ensures the text stays after animation */
}

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    letter-spacing: .15em;
    white-space: pre-wrap;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    animation-fill-mode: forwards;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: green;
    }
}