
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
    background-color: #111;
    color: white;
    font-family: "VT323", monospace;
    padding: 20px;
}

/*Container for Game.HTML*/

.container {
    max-width: 800px;
    margin: 0 auto;
}

/*Where main text is displayed "Terminal Window"*/
.text-area {
    width: 800px;
    height: 300px;
    background: black;
    overflow: hidden;
    padding: 20px;
}

/*Title Styling for Game.HTML*/
.refactor-title {
    text-align: center;
    font-size: 200%;
    color: #00FF00; /* Use a green color reminiscent of old retro art computers */
}

/*Styling for Index.HTML*/
/*Index Screen size and positioning - textShadow animation and color*/
.terminal {
    position: relative;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
    color: limegreen;
    text-shadow: 0 0 5px #c8c8c8;
    text-align: center;
    padding: 50px;
}
.terminal h1 {
    font-size: 80px;
}

.terminal h1, h2 {
    line-height: 0; /* Adjust the value as needed */
}
/*Start Button Styling*/

.button * {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 24px;
    z-index: 10;
}

/* Styles for the button */
.button button {
    background: #BCBCBC;
    align-items: center;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    margin: 1rem;
    min-width: 200px;
    padding: .5rem;
    text-transform: uppercase;
    width: auto;
}

.button button:focus,
.button button:hover {
    background: #00FF00;
    color: black;
}

.buttonWrapper {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 40px;
}

.buttonContainer {
    display: flex; /* Change to flex to make buttons align in a single line */
    justify-content: center; /* Center the buttons horizontally */
    width: 100%; /* Take up the full width */
}

.optionButton {
    background: #BCBCBC;
    align-items: center;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    margin: 1rem;
    padding: .5rem;
    width: auto;
}

.optionButton:hover {
    background: #00FF00;
    color: black;
}

/*Typewriter for Index.HTML*/
.typewriterIndex {
    color: #fff;
    font-family: "VT323", monospace;
    overflow: hidden;  /* Ensures the content is not revealed until the animation */
    margin: 0 auto;  /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;  /* Adjust as needed */
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    width: 0;  /* Ensures the text starts from the beginning */
    animation-fill-mode: forwards;  /* Ensures the text stays after animation */
}

/*typewriter for story*/

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    letter-spacing: .15em;
    white-space: pre-wrap;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    animation-fill-mode: forwards;
}