<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REFACTOR: An Apprentice Journey</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="/script.js"></script>
</head>
<body>
<div class="container">


    <div class="typewriter-container">
        <h1>REFACTOR</h1>
    </div>

    <div class="text-area">
        <div class="typewriter hidden" th:text="${bossTwoText}"></div>
    </div>

    <div class="choice-buttons">
        <form action="/lose" method="get">
            <button class="button" type="submit" >Option A</button>
        </form>

        <form action="/win" method="get">
            <button class="button" type="submit" >Option B</button>
        </form>

        <form action="/lose" method="get">
            <button class="button" type="submit" >Option C</button>
        </form>

        <form action="/lose" method="get">
            <button class="button" type="submit" >Option D</button>
        </form>
    </div>

</div>
</body>
</html>
