<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REFACTOR: An Apprentice Journey</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="/script.js"></script>
</head>
<body>
<div class="container">


    <div class="typewriter-container">
    <h1>REFACTOR</h1>
    </div>

    <div class="text-area">
        <div class="typewriter hidden" th:text="${gameText}"></div>
    </div>

    <div>
        <form action="/lifts" method="get">
            <button class="start-button" type="submit">NEXT</button>
        </form>
    </div>

</div>
</body>
</html>
